@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --text-light: #f4f2f2;
    --text-dark: #333;
    --text-grey: #666;
    --primary: #de4035;
    --primary-light: #c1352b;
    --white: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    /* overflow-x: hidden; */
    /* background-color: cornflowerblue; */
    font-family: "DM Sans", sans-serif;
    background-color: var(--white);
}

/* ========= NAVBAR ===== */
nav {
    width: 100%;
    height: 5rem;
    /* background-color: blueviolet; */
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .logo {
    /* width: 20%; */
    height: 80%;
    /* background-color: red; */
    margin-left: 1.5rem;
}

nav .logo img {
    height: 100%;
}

nav .links ul {
    /* width: ; */
    /* background-color: aquamarine; */
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: 1rem;
}

nav .links ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-dark);
    font-weight: 600;
}

nav .cta-btn {
    margin-right: 1.5rem;
    /* background-color: cadetblue; */
}

.btn {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    color: var(--text-light);
    background-color: var(--primary);
    border-radius: 5rem;
    cursor: pointer;
}


/* ===== HOME SECTION ========= */
#home {
    margin: 1rem 1.5rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    display: flex;
    align-items: center;
}

#home::before {
    position: absolute;
    content: '';
    height: 100%;
    width: calc(100% - 2rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('./assets/bg3.jpeg');
    background-size: cover;
    border-radius: 3rem;
    z-index: -1;
}

#home .container {
    display: flex;
}

#home .container .content {
    padding: 4rem 2.5rem;
}

#home .container .content p {
    margin-bottom: 1.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

#home .container .content h1 {
    margin-bottom: 2.5rem;
    font-size: 6.25rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 7.25rem;
    text-align: center;
    text-transform: uppercase;
}

#home .container .content .cta-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#home .container .content .cta-btns .btn {
    padding: 1rem 2rem;
}

#home .container .content .cta-btns a {
    padding: 9px 13px;
    font-size: 1.5rem;
    color: var(--primary);
    background-color: var(--white);
    border-radius: 100%;
    text-decoration: none;
}

#home .container .home-img img{
    position: relative;
    z-index: 10;
    width: 25rem;
    height: 100%;
}


/* ------ about/destinations----- */
#about {
    margin-top: 2.75rem;
    width: 100%;
    padding: 2rem 3rem;
    /* background-color: cadetblue; */
}

.title-div {
    margin: 0 auto;
    margin-bottom: 1.75rem;
    width: 60%;
    text-align: center;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
}

.title-div h2 {
    font-size: 2.5rem;
}

.title-div p {
    font-size: 1.1rem;
    color: var(--text-grey);
    width: 90%;
    margin: 0 auto;
}

#about .title-div {
    /* margin-top: 0;
    margin-left: 0;
    margin-right: 0; */
    /* background-color: #de4035; */
    margin: 0;
    margin-bottom: 1.75rem;
    text-align: left;
}

#about .title-div p {
    /* text-align: left; */
    width: 100%;
}

#about .cards-div {
    width: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: #de4035; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

#about .cards-div .card {
    /* width: 95%; */
    overflow: hidden;
    margin-top: 2rem;
}

#about .cards-div .card .card-img {
    /* width: 100%; */
    height: 13rem;
    border-radius: 1rem;
    overflow: hidden;
}

#about .cards-div .card .card-img img {
    width: 100%;
    height: 100%;
}

#about .cards-div .card .card-desc {
    margin-top: 0.75rem;
    padding: 0 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .cards-div .card .card-desc .card-desc-text h3 {
    font-size: 1.35rem;
    margin-bottom: 0.3rem;
}

#about .cards-div .card .card-desc .card-desc-text p {
    font-size: 1rem;
    color: var(--text-grey);
}

#about .cards-div .card .card-desc .card-desc-rating {
    word-spacing: 0.15rem;
    /* background-color: #fff200; */
    background-color: var(--primary);
    color: var(--text-light);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}


/* ========= STAT CARDS=========== */
#stat-cards {
    margin-top: 2.75rem;
    width: 100%;
    padding: 2rem 5rem;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stat-cards .card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: var(--white);
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.272);
}

#stat-cards .card .stat-num {
    font-size: 5rem;
    font-weight: 500;
    color: var(--primary);
}

#stat-cards .card .stat-desc {
    font-size: 1.15rem;
    color: var(--text-grey);
}


/* ====== TESTIMONIALS ===== */
#testimonials {
    margin-top: 2.75rem;
    width: 100%;
    padding: 2rem 3rem;
    /* background-color: cornflowerblue; */
}

#testimonials .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}

#testimonials .cards .card {
    width: 30%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
}

#testimonials .cards .card .testi-content {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
}

#testimonials .cards .card .testi-content .rating {
    color: var(--primary);
    margin-bottom: 0.75rem;
}

#testimonials .cards .card .testi-details {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#testimonials .cards .card .testi-details .profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

#testimonials .cards .card .testi-details .profile-img img {
    width: 100%;
    height: 100%;
}

#testimonials .cards .card .testi-details .profile-details {
    margin-left: 1rem;
}

#testimonials .cards .card .testi-details .profile-details .name {
    font-weight: 600;
    font-size: 1.15rem;
}

#testimonials .cards .card .testi-details .profile-details .profession {
    color: var(--text-grey);
}


/* ------ FOOTER-------- */
footer {
    margin-top: 3rem;
    width: 100%;
    padding: 2rem 2.5rem;
    background-color: var(--primary);   
}

footer .header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .header-div .logo {
    width: 10rem;
    height: 5rem;
}

footer .header-div .logo img {
    width: 100%;
    height: 100%;
}

footer .header-div .back-btn button {
    border: 1px solid var(--white);
    text-transform: uppercase;
}


footer .content-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2.5rem;
}

footer .content-div h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-light);
    font-weight: 700;
}

footer .content-div .newsletter-div {
    grid-row: span 2 / span 2;
    background-color: var(--primary-light);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .content-div .newsletter-div .text {
    color: var(--text-light);
}

footer .content-div .newsletter-div .cta-btn button {
    width: 100%;
}

footer .content-div .nav-links {
    grid-row: span 2 / span 2;
    background-color: var(--primary-light);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}

footer .content-div .nav-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

footer .content-div .nav-links ul a {
    text-decoration: none;
    color: var(--text-light);
    text-transform: uppercase;
    font-weight: 600
}

footer .content-div .social-links {
    background-color: var(--primary-light);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}

footer .content-div .social-links .socials {
    display: flex;
    justify-content: space-between;
    color: var(--text-light);
    font-size: 1.5rem;
}

footer .content-div .download-app {
    grid-column-start: 3;
    background-color: var(--primary-light);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

footer .content-div .download-app h3 {
    width: 50%;
}

footer .content-div .download-app .qr-code {
    width: 5rem;
    height: 5rem;
}

footer .content-div .download-app .qr-code img {
    width: 100%;
    height: 100%;
}


footer .copyright-div {
    display: flex;
    justify-content: space-between;
    /* background-color: cornflowerblue; */
    color: var(--text-light);
    margin-top: 1rem;
}

footer .copyright-div .links ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

footer .copyright-div .links ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-light);
}


/* ========= LANGUAGE SWITCHER ==== */
#lang-switcher {
    position: fixed;
    background-color: var(--primary);
    border: 2px solid var(--white);
    color: var(--text-light);
    right: 1rem;
    bottom: 1.5rem;
    z-index: 100;
    height: 5rem;
    width: 5rem;

    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}